{% extends 'account/base.html' %}
{% load staticfiles %}

{% block title_block %}{{PROJECT_TITLE}} - Edit profile{% endblock %}

{% block body_block %}
<div class="container">
	<h1 class="text-center">Edit your Profile</h1>
	<div class="row">
	<div class="col-sm-offset-3 col-sm-6">
		<div class="jumbotron">
			{% if ep_error %}
			<div class="alert alert-danger fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{ep_error}}
			</div>
			{% endif %}
			{% if ep_success %}
			<div class="alert alert-success fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{ep_success}}
			</div>
			{% endif %}
			<form method="POST" action="." role="form" id="ep_form" class="form-horizontal" >
				{% csrf_token %}
				{% for field in form.visible_fields %}
					<div class="form-group">
						<label for="{{field.id_for_label}}" class="control-label col-sm-4">{{field.label}}:</label>
						<div class="col-sm-8">
							<input type="{{field.field.widget.input_type}}" name="{{field.html_name}}" value="{{field.value}}" id="{{field.id_for_label}}" class="form-control" />
						</div>
					</div>
				{% endfor %}
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="submit" class="btn btn-default btn-primary">Submit</button>
						</div>
					</div>
			</form>
		</div>
		<div class="text-center">
			<p><a href="{% url 'account:change_password' %}">Change password</a></p>
			<p><a href="{% url 'account:public_profile' user.username %}">My public profile</a></p>
			<p><a href="{% url 'account:account_info' %}">Account info</a></p>
		</div>
	</div>
	</div>
</div>
{% endblock %}
