{% extends 'account/base.html' %}
{% load staticfiles %}

{% block title_block %}{{PROJECT_TITLE}} - Register{% endblock %}

{% block body_block %}
<div class="container">
	<h1 class="text-center">Register</h1>
	<div class="row row-centered">
	<div class="col-sm-offset-3 col-sm-6 col-centered">
		<div class="jumbotron">
			{% if register_error %}
			<div class="alert alert-danger fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{register_error}}
			</div>
			{% endif %}
			<form method="POST" action="." role="form" id="register_form" class="form-horizontal" >
				{% csrf_token %}
				<div class="form-group">
					<label for="username" class="control-label col-sm-3">Username:*</label>
					<div class="col-sm-9">
						<input type="text" name="username" value="{{username}}" required="required" id="username" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="control-label col-sm-3">Email:</label>
					<div class="col-sm-9">
						<input type="email" name="email" value="{{email}}" id="email" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="control-label col-sm-3">Password:*</label>
					<div class="col-sm-9">
						<input type="password" name="password" required="required" id="password" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button type="submit" class="btn btn-default btn-primary">Register</button>
					</div>
				</div>
			</form>
		</div>
		<p><a href="{% url 'account:login' %}">Login here</a> if you already have an account</p>
	</div>
	</div>
</div>
{% endblock %}
